.opuscapita_input-addon-button {
  border-left: none;
  color: #aaa;
  width: 3ch;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  &:focus {
    outline: none;
  }
  &:hover {
    color: #666;
    cursor: pointer;
  }
}
