.opuscapita_date-range-input {
  position: relative;
  display: inline-flex;
}

.opuscapita_date-range-input__picker-container {
  display: inline-flex;
  background: #fff;
  top: 40px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.35);
  left: 0;
  overflow: hidden;
  position: absolute;
  z-index: 900;
}

.opuscapita_date-range-input__picker-container:focus {
  outline: none;
}

.opuscapita_date-range-input__picker-container .DayPicker {
  display: flex;
  flex-wrap: nowrap;
}

.opuscapita_date-range-input__picker-container--to-top {
  top: auto;
  bottom: 40px;
}

.opuscapita_date-range-input__picker-container--to-left {
  left: auto;
  right: 0;
}

.opuscapita_date-range-input__variants-container {
  display: inline-flex;
  background: #fff;
  top: 40px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.35);
  right: 0;
  overflow: hidden;
  position: absolute;
  z-index: 900;
}

.opuscapita_date-range-input__variants-container--to-top {
  top: auto;
  bottom: 40px;
}

.opuscapita_date-range-input__reset-btn {
  position: absolute;
  top: 0;
  right: 1ch;
}

.opuscapita_date-range-input__input-field-container {
  position: relative;
}

.opuscapita_date-range-input__variants-btn {
  border-left: none;
}

.opuscapita_date-range-input__humanized-duration {
  position: absolute;
  left: 0;
  font-size: 0.8em;
  opacity: 0.6;
  bottom: -2px;
  transform: translate(0, 100%);
}
