defaults: &defaults
  docker:
    - image: opuscapita/minsk-core-ci:grails-2.4.4-jdk-8u131-nodejs-8.9.4-maven-3.3.9-docker
  working_directory: ~/build

version: 2
jobs:
  build:
    <<: *defaults
    steps:
      - run:
          name: Environment inject.
          command: env_inject.sh

      - checkout
      - restore_cache:
          keys:
            - react-showroom-{{ .Branch }}-{{ checksum "package.json" }}
            - react-showroom-{{ .Branch }}
            - react-showroom

      - run:
          name: "Installing dependencies."
          command: yarn install

      - save_cache:
          key: react-showroom-{{ .Branch }}-{{ checksum "package.json" }}
          paths:
              - ./node_modules
              - ./yarn.lock

      - run:
          name: "Running lint."
          command: npm run lint

  update-gh-pages:
    docker:
    <<: *defaults
    steps:
      - run:
          name: Environment inject
          command: /bin/env_inject.sh

      - checkout
      - restore_cache:
          keys:
            - react-showroom-{{ .Branch }}-{{ checksum "package.json" }}
            - react-showroom-{{ .Branch }}
            - react-showroom

      - run:
          name: "Installing dependencies."
          command: yarn install

      - save_cache:
          key: react-showroom-{{ .Branch }}-{{ checksum "package.json" }}
          paths:
              - ./node_modules
              - ./yarn.lock

      - run:
          name: build-gh-pages
          command: ./scripts/gh-pages/build.sh

      - run:
          name: deploy-gh-pages
          command: ./scripts/gh-pages/deploy.sh .gh-pages-tmp
  build_release:
    <<: *defaults
    steps:
      - run:
          name: Environment inject
          command: /bin/env_inject.sh

      - checkout

      - restore_cache:
          keys:
            - react-showroom-{{ .Branch }}-{{ checksum "package.json" }}
            - react-showroom-{{ .Branch }}
            - react-showroom

      - run:
          name: "Installing dependencies."
          command: yarn install

      - save_cache:
          key: react-showroom-{{ .Branch }}-{{ checksum "package.json" }}
          paths:
              - ./node_modules
              - ./yarn.lock

      - run:
          name: "Running lint."
          command: npm run lint

      - run:
          name: "Deploy."
          command: npm run publish-release


  release:
    <<: *defaults
    steps:

      - run:
          name: Environment inject
          command: env_inject.sh

      - checkout

      - run:
          name: Executing release scrtipt.
          command: .circleci/release.sh

workflows:
  version: 2
  release-and-build:
    jobs:
      - release:
          filters:
            branches:
              only: release
      - build:
          filters:
            branches:
              ignore:
                - gh-pages
                - release
      - update-gh-pages:
          requires:
            - build
          filters:
            branches:
              ignore:
                - gh-pages
                - release
      - build_release:
          filters:
            tags:
              only: /.*/
            branches:
              ignore: /.*/
