.opuscapita-date-input {
  display: inline-flex;
  margin-bottom: 0;
  position: relative;
  &::-ms-clear {
    display: none;
  }
}

.opuscapita-date-input .opuscapita_date-input-field {
  padding-right: 4ch;
}

.opuscapita_date-input__picker-container {
  background: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.35);
  display: inline-flex;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 40px;
  z-index: 900;
}

.opuscapita_date-input__picker-container:focus {
  outline: none;
}

.opuscapita_date-input__picker-container--to-top {
  bottom: 40px;
  top: auto;
}

.opuscapita_date-input__picker-container--to-left {
  left: auto;
  right: 0;
}

.opuscapita_date-input__reset-btn {
  position: absolute;
  top: 0;
  right: 1ch;
  z-index: 3;
}
