.opuscapita_date-input {
  display: flex;
  padding: 0;
  border: none;
  position: relative;
  &::-ms-clear {
    display: none;
  }
}

.opuscapita_date-input__input-container {
  position: relative;
  display: flex;
  flex: 1;
}

.opuscapita_date-input .opuscapita_date-input-field {
  padding-right: 4ch;
}

.opuscapita_date-input__picker-container {
  will-change: opacity, max-height;
  background: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.35);
  display: block;
  position: absolute;
  overflow: hidden;
  z-index: 999;
}

.opuscapita_date-input__variants-container {
  will-change: opacity, max-height;
  display: inline-flex;
  background: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.35);
  overflow: hidden;
  position: absolute;
  z-index: 900;
}

.opuscapita_date-input__variants-btn {
  border-left: none;
}

.opuscapita_date-input__picker-container:focus {
  outline: none;
}

.opuscapita_date-input__reset-btn {
  position: absolute;
  top: 0;
  right: 1ch;
  z-index: 3;
}
