@opuscapita_date-input__picker-container_offset: 8px;

.opuscapita-date-input {
  position: relative;
  display: inline-flex;
  width: auto;
  padding-left: 8px;
  padding-right: 8px;
}

.opuscapita_date-input__picker-container {
  display: inline-flex;
  background: #fff;
  bottom: -@opuscapita_date-input__picker-container_offset;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.35);
  left: 0;
  overflow: hidden;
  position: absolute;
  transform: translate(0, 100%);
  z-index: 9999;
}

.opuscapita_date-input__picker-container:focus {
  outline: none;
}

.opuscapita_date-input__picker-container--to-top {
  bottom: auto;
  top: -@opuscapita_date-input__picker-container_offset;
  transform: translate(0, -100%);
}

.opuscapita_date-input__picker-container--to-left {
  left: auto;
  right: 0;
}

.opuscapita-date-input--error {
  border-color: #843534;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}

.opuscapita-date-input--focus {
  border-color: #067;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0, 102, 119, 0.6);
}
