.opuscapita_date-input-field {
  z-index: 1 !important;
  display: flex !important;
}

.opuscapita_date-input-field__input {
  &::-ms-clear {
    display: none !important;
  }

  &:-ms-input-placeholder {
    color: #999;
  }
}
