.opuscapita_day-picker {
  display: inline-flex;
  flex-direction: column;
}

.opuscapita_day-picker__picker {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.opuscapita_day-picker__picker abbr {
  border-bottom: none;
  cursor: default;
}

.opuscapita_day-picker,
.opuscapita_day-picker__picker:focus,
.opuscapita_day-picker__picker .DayPicker,
.opuscapita_day-picker__picker .DayPicker-Day:focus {
  outline: none;
}

.opuscapita_day-picker__picker .DayPicker {
  padding-bottom: 0.5rem;
}

.opuscapita_day-picker__picker .DayPicker-Day {
  border: none;
  position: relative;
}

.opuscapita_day-picker__picker .DayPicker-Day:not(.DayPicker-Day--outside):hover:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  opacity: 0.075;
  z-index: 1;
}

.opuscapita_day-picker__picker .DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
  background-color: #EC6608;
}

.opuscapita_day-picker__picker .DayPicker-Day--today {
  font-weight: 600;
  color: #000;
}

.opuscapita_day-picker__footer {
  display: flex;
  justify-content: center;
}

.opuscapita_day-picker__today-button {
  display: flex;
  flex: 1;
  justify-content: center;
  border-left: none;
  border-right: none;

}
